<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MapSuiteDependency-GeoAPI" version="10.0.0" targetFramework="xamarinios10" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.0.0" targetFramework="xamarinios10" />
  <package id="MapSuiteMobileForiOS-Standard" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Adornments" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Background" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.BingMaps" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.BoundarySolutionsParcel" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Delimited" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.GeoTiff" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.GoogleMaps" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Gpx" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Graticule" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Grids" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Group" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Heat" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.IsoLine" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.MapShape" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.MultipleFeatureSource" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.NativeImage" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Noaa" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.OpenStreetMap" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Restriction" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.ShapeFile" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Tab" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.TiledWms" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.TinyGeo" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Wfs" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.WkbFile" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Wms" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.Wmts" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.WorldMapKit" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.ClassBreak" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.ClusterPoint" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.Composite" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.DotDensity" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.Filter" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.Gradient" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.Icon" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.IconValue" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.Regex" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.Value" version="10.0.305.1" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.WellPoint" version="10.0.305.1" targetFramework="xamarinios10" />
</packages>